.loginbtnr {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.loginbtnr:hover {
  background-color: #0056b3;
}

.registrarmsgr {
  background-color: #259503;
  border-color: #ffffff;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.registrarmsgr:hover {
  background-color: #046f00;
}
